---
import '../styles/global.css'
import Grid from '../components/Grid.astro'
import { Card } from '../components/Card'
---

<html lang="en" class="bg-neutral-100 text-black dark:bg-neutral-900 dark:text-white">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <title>Irving Dinh — Just another software engineer based in Ho Chi Minh city, Viet Nam.</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="p-2">
      <Grid gap="md">
        <Card title="AI Rewrite">
          <p>Hey!</p>
        </Card>
      </Grid>
    </div>
  </body>
</html>
