---
import '../styles/global.css'

import { RewriteWidget } from '../widgets/rewrite/RewriteWidget'
import { Widget } from '../components/Widget.tsx'
---

<html lang="en" class="bg-base-200">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <title>Irving Dinh — Just another software engineer based in Ho Chi Minh city, Viet Nam.</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="px-4 py-4">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
        <RewriteWidget client:only="preact"/>
        <Widget/>
      </div>
    </div>
  </body>
</html>
